@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}


body {
	background-color: orange;
	margin:0;
	padding:0;
	font-family: Calibri, Arial, sans-serif, 'Lobster';
}

.start{
	position: relative;
	/*display: flex;*/
	justify-content: center;
	border:0px solid red;
	background-color: #ccc;
	width: 50%;
	height: 500px;
	top: 40%;
	left: 50%;
	transform: translate(-50% , 40%);
	border-radius: 20px;
	z-index: 1;
}

.start.active {
	/*opacity: 0;*/
	transition: all .3s ease;
	animation: first 1.5s ease 1 normal 0.2s forwards;
}

@keyframes first{
	0% {
		opacity: 1;
		display: block;
		transition: all .3s ease;
	}

	100% {
		opacity: 0;
		display: none;
		transition: all .3s ease;
	}
}

.start-text1 {
	display: flex;
	color:white;
	font-family: 'Lobster', cursive;
	font-size: 26px;
	border:0px solid blue;
	position: relative;
	height: 40%;
	width: 100%;
	letter-spacing: 1.5px;
	line-height: 50px;
}

.start-text1 text > p{
	margin: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.start-text2{
	position: relative;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	border:0px solid purple;
	height: 40%;
	width: 100%;
}

.start-text2 button {
	font-family: 'Lobster', cursive;
	font-size: 23px;
	background-color: #ccc;
	color: white;
	border-radius: 10px;
	top: 50%;
	height: 50%;
	width: 30%;
	transform: translate(0% , 50%);
	transition: all .3s ease;
}

.start-text2 button:hover{
	transition: all .3s ease;
	color:black;
	box-shadow: 0px 0px 10px black;
}

.start-text3{
	font-family: 'Lobster', cursive;
	display: flex;
	color: white;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 23px;
	height: 10%;
	width: 100%;
}


#start-hr{
	background-color:#313131;
	border:0px;
	opacity: 0.5;
	width: 100%;
	height: 2px;
}

.start-text4{
	font-family: 'Lobster', cursive;
	font-size: 18px;
	text-align: right;
	color:white;
}






	/*z-index на 0 и opacity на 0*/
.first{
	position: absolute;
	border-radius: 20px;
	border:0px solid red;
	background-color: #ccc;
	z-index: 0;
	opacity: 0;

	height: 98%;
	width: 95%;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.first.active {
	animation: firsttask 1.5s ease 1 normal 2.1s forwards;
}

@keyframes firsttask {
	0% {
		opacity: 0;
		z-index: 0;
	}

	100%{
		opacity: 1;
		z-index: 2;
	}
}

.first-position{
	/*display: flex;*/
	position: relative;
	background-color: #ccc;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.first.deleted{
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}

.first-top {
	display: flex;
	border-bottom:2px solid black;
	height: 10%;
	width: 100%;
}

.first-task{
	border:0px solid lime;
	border-right:2px solid black;
	height: 100%;
	width: 37%;
	font-size: 25px;
	font-family: 'Lobster', cursive;
}

.first-instruction{
	position: relative;
	border-right: 2px solid black;
	width: 33%;
}

#first-text1{
	font-family: 'Lobster', cursive;
	font-size: 23px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#first-text2{
	font-family: 'Lobster', cursive;
	font-size: 18px;
	position: absolute;
	top: 40%;
}

.first-score{
	position: relative;
	right: 0;
	border-right:2px solid black;
	height: 100%;
	width: 20%;
	font-size: 33px;
	font-family: 'Lobster', cursive;
}

#score-text{
	position: absolute;
	right: 50%;
	top: 5%;
}

#score-text.anvithible{
	display: none;
}

#score-text2{
	display: none;
}

#score-text2.active {
	display: block;
	position: absolute;
	right: 50%;
	top: 5%;
}

#score-text2.anvithible{
	display: none;
}




#score-text3{
	display: none;
}

#score-text3.active{
	display: block;
}

#score-text3.active {
	display: block;
	position: absolute;
	right: 50%;
	top: 5%;
}

#score-text3.anvithible{
	display: none;
}






#score-text4{
	display: none;
}

#score-text4.active{
	display: block;
}

#score-text4.active {
	display: block;
	position: absolute;
	right: 50%;
	top: 5%;
}

#score-text4.anvithible{
	display: none;
}




#score-text5{
	display: none;
}

#score-text5.active{
	display: block;
}

#score-text5.active {
	display: block;
	position: absolute;
	right: 50%;
	top: 5%;
}

#score-text5.anvithible{
	display: none;
}





.first-button{
	width: 10%;
	border:0px solid lime;
	position: relative;
	border-radius: 0px 20px 0px 0px;
}

.first-button:hover{
	cursor: pointer;
}

.first-button text{
	font-size: 25px;
	font-family: 'Lobster', cursive;
	position: absolute;
	top: 30%;
	left: 20%;
	transition: all .3s ease;
}

.first-button:hover{
	transition: all .3s ease;
	background-color: #AEAEAE;
}

.first-button.delete1{
	display: none;
}

.first-button2{
	display: none;
	width: 10%;
	border:0px solid lime;
	position: relative;
	border-radius: 0px 20px 0px 0px;
}

.first-button2:hover{
	cursor: pointer;
}

.first-button2.active {
	display: block;
}

.first-button2 text{
	font-size: 25px;
	font-family: 'Lobster', cursive;
	position: absolute;
	top: 30%;
	left: 20%;
	transition: all .3s ease;
}

.first-button2.delete1{
	display: none;
}






.first-button3{
	display: none;
	width: 10%;
	border:0px solid lime;
	position: relative;
	border-radius: 0px 20px 0px 0px;
}

.first-button3:hover{
	cursor: pointer;
}

.first-button3.active {
	display: block;
}

.first-button3 text{
	font-size: 25px;
	font-family: 'Lobster', cursive;
	position: absolute;
	top: 30%;
	left: 20%;
	transition: all .3s ease;
}

.first-button3.delete1{
	display: none;
}






.first-button4{
	display: none;
	width: 10%;
	border:0px solid lime;
	position: relative;
	border-radius: 0px 20px 0px 0px;
}

.first-button4:hover{
	cursor: pointer;
}

.first-button4.active {
	display: block;
}

.first-button4 text{
	font-size: 25px;
	font-family: 'Lobster', cursive;
	position: absolute;
	top: 30%;
	left: 20%;
	transition: all .3s ease;
}

.first-button4.delete1{
	display: none;
}








.first-button5{
	display: none;
	width: 10%;
	border:0px solid lime;
	position: relative;
	border-radius: 0px 20px 0px 0px;
}

.first-butto5:hover{
	cursor: pointer;
}

.first-button5.active {
	display: block;
}

.first-button5 text{
	font-size: 25px;
	font-family: 'Lobster', cursive;
	position: absolute;
	top: 30%;
	left: 20%;
	transition: all .3s ease;
}

.first-button5.delete1{
	display: none;
}
















.first-button2:hover{
	transition: all .3s ease;
	background-color: #AEAEAE;
}


@keyframes firstTwo{
	0% {
		opacity: 1;
		z-index: 1;
		transition: all .3s ease;
	}

	100% {
		opacity: 0;
		z-index: -1;
		transition: all .3s ease;
	}
}

.differenses{
	top: 80%;
	left: 2%;
	transform: translate(0, -100%);
	position: absolute;
	border:0px solid blue;
	height: 20px;
	width: 100%;
}

.score-differenses{
	display: flex;
	font-size: 22px;
}

.first-images {	
	display: flex;
	border:0px solid lightblue;
	height: 90%;
	border-radius: 20px;
}


.first-img1{
	position: relative;
	border:0px solid red;
	height: 95.6%;
	width: 50%;
}

.first-original{
	opacity: 1;
	transition: all .3s ease;
}

.first-original.active{
	animation: opacityimg 1.5s ease 1 normal 1s forwards;
}

.first-original2{
	opacity: 0;
	position: absolute;
	border:0px solid red;
	height: 95.6%;
	width: 50%;
	top: 4.4%;
	left: 0;
	transition: all .3s ease;
}

.first-original2.vithible{
	animation: vithible 1.5s ease 1 normal 2.4s forwards;
}

.first-original2.active{
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}




.first-original3{
	opacity: 0;
	position: absolute;
	border:0px solid red;
	height: 95.6%;
	width: 50%;
	top: 4.4%;
	left: 0;
	transition: all .3s ease;
}

.first-original3.vithible{
	animation: vithible 2s ease 1 normal 1s forwards;
}

.first-original3.active{
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}

.first-kopiya3{
	z-index: -1;
	position: absolute;
	width: 99.5%;
	height: 100%;
	top: 4.4%;
	left: 0;
	border-radius: 0px 0px 20px 0px;
	border-left: 5px solid white;
	transition: all .3s ease;
}

.first-kopiya3.vithible{
	animation: vithible 2s ease 1 normal 1s forwards;
}

.first-kopiya3.active {
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}















.first-original4{
	opacity: 0;
	position: absolute;
	border:0px solid red;
	height: 95.6%;
	width: 50%;
	top: 4.4%;
	left: 0;
	transition: all .3s ease;
}

.first-original4.vithible{
	animation: vithible 2s ease 1 normal 1s forwards;
}

.first-original4.active{
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}

.first-kopiya4{
	z-index: -1;
	position: absolute;
	width: 99.5%;
	height: 100%;
	top: 4.4%;
	left: 0;
	border-radius: 0px 0px 20px 0px;
	border-left: 5px solid white;
	transition: all .3s ease;
}

.first-kopiya4.vithible{
	animation: vithible 2s ease 1 normal 1s forwards;
}

.first-kopiya4.active {
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}








.first-original5{
	opacity: 0;
	position: absolute;
	border:0px solid red;
	height: 95.6%;
	width: 50%;
	top: 4.4%;
	left: 0;
	transition: all .3s ease;
}

.first-original5.vithible{
	animation: vithible 2s ease 1 normal 1s forwards;
}

.first-original5.active{
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}

.first-kopiya5{
	z-index: -1;
	position: absolute;
	width: 99.5%;
	height: 100%;
	top: 4.4%;
	left: 0;
	border-radius: 0px 0px 20px 0px;
	border-left: 5px solid white;
	transition: all .3s ease;
}

.first-kopiya5.vithible{
	animation: vithible 2s ease 1 normal 1s forwards;
}

.first-kopiya5.active {
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}












.first-kopiya2{
	z-index: -1;
	position: absolute;
	width: 99.5%;
	height: 100%;
	top: 4.4%;
	left: 0;
	border-radius: 0px 0px 20px 0px;
	border-left: 5px solid white;
	transition: all .3s ease;
}

.first-kopiya2.vithible{
	animation: vithible 1.5s ease 1 normal 2.4s forwards;
}

.first-kopiya2.active {
	animation: opacityimg 1.5s ease 1 normal 0s forwards;
}

@keyframes vithible {
	0%{
		opacity: 0;
		z-index: -1;
	}
	100%{
		opacity: 1;
		z-index: 1;
	}
}

#img2 {
	width: 99.5%;
	height: 100%;
	border-radius: 0px 0px 20px 0px;
	border-left: 5px solid white;
	transition: all .3s ease;
}


#img2.active{
	animation: opacityimg 1.5s ease 1 normal 1s forwards;
}

.circle.active2{
	animation: opacityimg 1.5s ease 1 normal 1s forwards;
}

@keyframes opacityimg {
	0% {
		opacity: 1;
		z-index: 1;
		transition: all .3s ease;
	}
	100%{
		opacity: 0;
		z-index: -1;
		transition: all .3s ease;
	}
}

.first-text{
	border-right:5px solid white;
	border-bottom:1px solid black;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: 'Lobster', cursive;
	font-size: 27px;
}

.first-img1 img{
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 0px 20px;
	border-right: 2px solid black;
}

.score-circl1{
	display: flex;
	position: absolute;
	top: 49%;
	right: 65%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score-circl1.active {
	background-color:black;
	color:black;
}

.score-circl2{
	display: flex;
	position: absolute;
	top: 49%;
	right: 56%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score-circl2.active {
	background-color:black;
	color:black;
}

.score-circl3{
	display: flex;
	position: absolute;
	top: 49%;
	right: 47%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score-circl3.active {
	background-color:black;
	color:black;
}

.score-circl4{
	display: flex;
	position: absolute;
	top: 49%;
	right: 38%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score-circl4.active {
	background-color:black;
	color:black;
}

.first-img2{
	position: relative;
	/*border:0px solid red;*/
	height: 95.6%;
	width: 50%;
}

.first-text2{
	border-bottom:1px solid black;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: 'Lobster', cursive;
	font-size: 27px;
}

.img2-differeneces1{
	height: 200px;
	width: 300px;
	position: absolute;
	left: 21%;
	top: 10%;
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces1.active {
	animation: differeneces  1.5s ease 1 normal forwards; 
	transform: all .3s ease;
}

@keyframes differeneces {
	0% {
		opacity: 1;
		transition: all .3s ease;
	}

	100%{
		opacity: 0;
		transition: all .3s ease;
	}
}

@keyframes cat {
	0% {
		opacity: 0.25;
		transition: all .3s ease;
	}

	100%{
		opacity: 0;
		transition: all .3s ease;
	}
}

@keyframes igrushka {
	0% {
		opacity: 0.5;
		transition: all .3s ease;
	}

	100%{
		opacity: 0;
		transition: all .3s ease;
	}
}


.img2-differeneces2{
	height: 50px;
	width: 100px;
	position: absolute;
	left: 38%;
	top: 49%;
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces2.active {
	animation: differeneces  1.5s ease 1 normal forwards; 
}

.img2-differeneces3{
	height: 150px;
	width: 120px;
	position: absolute;
	left: 74%;
	top: 85.5%;
	opacity: 0.25;
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces3.active {
	animation: cat  1.5s ease 1 normal forwards; 
}

.img2-differeneces4{
	height: 60px;
	width: 40px;
	opacity: 0.5;
	position: absolute;
	left: 64%;
	top: 7%;
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces4.active {
	animation: igrushka  1.5s ease 1 normal forwards; 
}







.score2-circl1{
	display: flex;
	position: absolute;
	top: 49%;
	right: 65%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score2-circl1.anvithible1{
	display: none;
}

.score2-circl1.active {
	background-color:black;
	color:black;
}

.score2-circl2{
	display: flex;
	position: absolute;
	top: 49%;
	right: 56%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score2-circl2.anvithible1{
	display: none;
}

.score2-circl2.active {
	background-color:black;
	color:black;
}

.score2-circl3{
	display: flex;
	position: absolute;
	top: 49%;
	right: 47%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score2-circl3.anvithible1{
	display: none;
}

.score2-circl3.active {
	background-color:black;
	color:black;
}





.score3-circl1{
	display: flex;
	position: absolute;
	top: 49%;
	right: 65%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score3-circl1.anvithible2{
	display: none;
}

.score3-circl1.active {
	background-color:black;
	color:black;
}

.score3-circl2{
	display: flex;
	position: absolute;
	top: 49%;
	right: 56%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score3-circl2.anvithible2{
	display: none;
}

.score3-circl2.active {
	background-color:black;
	color:black;
}

.score3-circl3{
	display: flex;
	position: absolute;
	top: 49%;
	right: 47%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score3-circl3.anvithible2{
	display: none;
}

.score3-circl3.active {
	background-color:black;
	color:black;
}








.score4-circl1{
	display: flex;
	position: absolute;
	top: 49%;
	right: 65%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score4-circl1.anvithible3{
	display: none;
}

.score4-circl1.active {
	background-color:black;
	color:black;
}

.score4-circl2{
	display: flex;
	position: absolute;
	top: 49%;
	right: 56%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score4-circl2.anvithible3{
	display: none;
}

.score4-circl2.active {
	background-color:black;
	color:black;
}

.score4-circl3{
	display: flex;
	position: absolute;
	top: 49%;
	right: 47%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score4-circl3.anvithible3{
	display: none;
}

.score4-circl3.active {
	background-color:black;
	color:black;
}






.score5-circl1{
	display: flex;
	position: absolute;
	top: 49%;
	right: 65%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score5-circl1.anvithible4{
	display: none;
}

.score5-circl1.active {
	background-color:black;
	color:black;
}

.score5-circl2{
	display: flex;
	position: absolute;
	top: 49%;
	right: 56%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score5-circl2.anvithible4{
	display: none;
}

.score5-circl2.active {
	background-color:black;
	color:black;
}

.score5-circl3{
	display: flex;
	position: absolute;
	top: 49%;
	right: 47%;
	display: flex;
	margin:0;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: orange;
	/*border:1px solid orange;*/
	font-size: 28px;
	color: white;
	transition: all .5s ease;
}

.score5-circl3.anvithible4{
	display: none;
}

.score5-circl3.active {
	background-color:black;
	color:black;
}








.img2-differeneces2-1 {
	z-index: -1;
	height: 50px;
	width: 29px;
	position: absolute;
	left: 63%;
	top: 10%;
	opacity: 0.5;
	transform: rotate(45deg);
	border:0px solid lime;
	transform: all .3s ease;
}


.img2-differeneces2-1.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 2.4s forwards;
}

.img2-differeneces2-1.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces2-1.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}

.img2-differeneces2-2 {
	z-index: -1;
	height: 30px;
	width: 26px;
	position: absolute;
	left: 73%;
	top: 39%;
	opacity: 0.25;
	transform: rotate(45deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces2-2.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 2.4s forwards;
}

.img2-differeneces2-2.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces2-2.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}


.img2-differeneces2-3 {
	z-index: -1;
	height: 43px;
	width: 42px;
	position: absolute;
	left: 42%;
	top: 44%;
	opacity: 0.45;
	transform: rotate(4deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces2-3.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 2.4s forwards;
}

.img2-differeneces2-3.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces2-3.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}







.img2-differeneces3-1 {
	z-index: -1;
	height: 13px;
	width: 17px;
	position: absolute;
	left: 33%;
	top: 67%;
	opacity: 1;
	transform: rotate(45deg);
	border:0px solid lime;
	transform: all .3s ease;
}


.img2-differeneces3-1.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.2s forwards;
}

.img2-differeneces3-1.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces3-1.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}

.img2-differeneces3-2 {
	z-index: -1;
	height: 30px;
	width: 26px;
	position: absolute;
	left: 81%;
	top: 53%;
	opacity: 0.75;
	transform: rotate(10deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces3-2.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.2s forwards;
}

.img2-differeneces3-2.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces3-2.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}


.img2-differeneces3-3 {
	z-index: -1;
	height: 101px;
	width: 105px;
	position: absolute;
	left: 88%;
	top: 92%;
	opacity: 1;
	transform: rotate(4deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces3-3.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.2s forwards;
}

.img2-differeneces3-3.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces3-3.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}










.img2-differeneces4-1 {
	z-index: -1;
	height: 146px;
	width: 229px;
	position: absolute;
	left: -8%;
	top: 79%;
	opacity: 1;
	border:0px solid lime;
	transform: all .3s ease;
}


.img2-differeneces4-1.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.1s forwards;
}

.img2-differeneces4-1.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces4-1.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}

.img2-differeneces4-2 {
	z-index: -1;
	height: 30px;
	width: 26px;
	position: absolute;
	left: 56%;
	top: 30%;
	opacity: 0.75;
	transform: rotate(10deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces4-2.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.1s forwards;
}

.img2-differeneces4-2.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces4-2.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}


.img2-differeneces4-3 {
	z-index: -1;
	height: 57px;
	width: 46px;
	position: absolute;
	left: 94%;
	top: 89%;
	opacity: 1;
	transform: rotate(4deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces4-3.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.1s forwards;
}

.img2-differeneces4-3.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces4-3.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}














.img2-differeneces5-1 {
	z-index: -1;
	height: 58px;
	width: 124px;
	position: absolute;
	left: 81%;
	top: 18%;
	opacity: 1;
	border:0px solid lime;
	transform: all .3s ease;
}


.img2-differeneces5-1.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.1s forwards;
}

.img2-differeneces5-1.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces5-1.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}

.img2-differeneces5-2 {
	z-index: -1;
	height: 56px;
	width: 26px;
	position: absolute;
	left: 47%;
	top: 53%;
	opacity: 0.75;
	transform: rotate(10deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces5-2.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.1s forwards;
}

.img2-differeneces5-2.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces5-2.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}


.img2-differeneces5-3 {
	z-index: -1;
	height: 36px;
	width: 30px;
	position: absolute;
	left: 77%;
	top: 99%;
	opacity: 1;
	transform: rotate(4deg);
	border:0px solid lime;
	transform: all .3s ease;
}

.img2-differeneces5-3.vithible2{
	animation: vithibleTwo 1.5s ease 1 normal 1.1s forwards;
}

.img2-differeneces5-3.anvithibl2 {
	animation: anvithiblTwo 1.5s ease 1 normal 1s forwards;
	transition: all .3s ease;
}

.img2-differeneces5-3.active{
	transition: all .3s ease;
	animation: differeneces  1.5s ease 1 normal forwards;
}





















@keyframes vithibleTwo {
	0% {
		z-index: -1;
		opacity: 0;
	}
	100%{
		z-index: 1;
		opacity: 0.25;
	}
}

@keyframes anvithiblTwo{
	0%{
		z-index: 1;
		opacity: 0;
		transition: all .3s ease;
	}
	100%{
		z-index: -1;
		opacity: 0;
		transition: all .3s ease;
	}
}


.final{
	border:0px solid lime;
	background-color: #ccc;
	border-radius: 20px;
	position: absolute;
	z-index: -1;
	opacity: 0;

	height: 47%;
	width: 62%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.final.active{
	animation: vithibleFinal  1.5s ease 1 normal forwards;
}

@keyframes vithibleFinal {
	0% {
		z-index: -1;
		opacity: 0;
	}
	100%{
		z-index: 1;
		opacity: 1;
	}
}

.final2{
	position: relative;
	width: 100%;
	height: 100%;
}

.final-h1{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: 'Lobster', cursive;
	font-size: 27px;
	margin-top: 10%;
}

.final-text{
	font-family: 'Lobster', cursive;
	font-size: 28px;
	letter-spacing: 2.5px;
	line-height: 29px;
}

.ps{
	position: absolute;
	bottom: -30%;
	right: 0;
	text-align: right;
	font-family: 'Lobster', cursive;
}







	

























