body {
	padding: 0;
	margin: 0;
	height:100%;
	width:100%;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	font-family: Calibri, Arial, sans-serif;
	position: relative;
	background-color: #181818;
	/*overflow-x: hidden;*/
}

p {
	filter: drop-shadow(0 0 9px orange);
}

h1 {
	filter: drop-shadow(0 0 9px orange);
}


.background {
	border: 0px solid orange;
	width: 100%;
	height: 700px;
	position: relative;
	display: flex;
}

.vidio {
	position: relative;
	width: 100%;
	height: 100%;
}

.vidio:after {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

#main-vidio {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: cover;
	/*top: 0;*/
	/*left: 0;*/
	display: flex;
}



#navigation {
	background-color: black;
	width: 100%;
	height: 60px;
	left: 50%;
	position: fixed;
	transform: translateX(-50%);
	z-index: 2;
}

#nav-ul {
	font-family: 'Lobster', cursive;
	list-style: none;
	display: flex;
	justify-content:center;
}

.links {
	margin-top: 5px;
	transition: all .3s ease;
}

.links:hover {
	font-size: 20px;
	transition: all .3s ease;
}

.links a{
	margin:20px;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
	position: relative;
}

.links a:before{
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
	top: 100%;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	transform: translateY(-2px);
	transition: all .3s ease;
	opacity: 0;
}

.links a:hover:before {
	content: "";
	opacity: 1;
}

/*ПОЧЕМУ МЫ?*/


#description {
	border: 0px solid orange;
	width: 60%;
	height: 300px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
}

#description h1 {
	color: white;
	font-size: 5em;
	letter-spacing: 20px;
	font-family: 'Lobster', cursive;
}

.title-color {
	color:orange;
}

#description text {
	font-family: 'Lobster', cursive;
	/*font-family: 'Sevillana', cursive;*/
	color: white;
	font-size: 1.5em;
	text-align: center;
	align-items: center;
}

.main {
	/*border:1px solid red;*/
	background-color: #181818;
	width: 100%;
	height: 550px;
	color:white;
	position: relative;
	display: flex;
}

.main-title {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	letter-spacing: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.main-hr {
	border:1px solid #383838;
	background-color: #383838;
	width: 100%;
	position: absolute;
	height: 2px;
	top: 15%;
}

.main-img1 {
	border-radius: 20px;
	position: absolute;
	left: 5%;
	top: 25%;
	width: 41%;
	height: 62%;
	background-image: url('https://media.istockphoto.com/id/160485162/photo/taxi.jpg?s=612x612&w=0&k=20&c=kWBGO7la4StGMrc67BQeCLsr8QexTVi3xTI7D9z61rQ=');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .3s ease;
}

.main-img1:hover {
	transform: translate(-2%, -2%);
	box-shadow: 10px 10px 10px #FFA500;
	transition: all .3s ease;
}

.main-description {
	border-radius: 0px 0px 20px 0px;
	box-shadow: 25px 28px 25px #D78C00;
	position: absolute;
	right: 6%;
	top: 39%;
	width: 40%;
	height: 50%;
	font-size: 22px;
	letter-spacing: 2px;
	text-align: center;
	animation: main-neonS 8s ease-in 1s infinite reverse;
}

.main-description:before {
 	content: "";
 	display: block;
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	top: -10%;
 	left: -3%;
 	border-radius: 20px 0px 0px 0px;
 	box-shadow: -27px -27px 25px #00FFF2;
 	animation: main-neonF 8s ease-in 1s infinite reverse;
}

.main-description text {
	position: absolute;
	display: flex;
	top: 50%;
	transform: translateY(-50%);
}

/*ВОДИТЕЛИ*/

.drivers {
	width: 100%;
	height: 600px;
	position: relative;
}

.main-title2 {
	color: white;
	font-family: 'Lobster', cursive;
	text-align: center;
}

.main-hr2 {
	border:1px solid #383838;
	background-color: #383838;
	width: 100%;
}

.portfolio {
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 83%;
}

.portfolio i {
	color: white;
}

.main-portfolio {
	height: 70%;
	width: 22%;
	top: 10%;
	position: relative;
	border-radius: 20px;
}

.main-portfolio img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	transition: all .3s ease;
}

.portfolio-img {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	transition: all .3s ease;
}

.portfolio-img:hover {
	transition: all .3s ease;
	transform: translate(-2%, 2%);
}

.portfolio-img:hover:before {
	transition: all .3s ease;
	opacity: 1;
}

.portfolio-img:before {
	content: "";
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	opacity: 0;
	transition: all .3s ease;
	box-shadow: 10px -10px 20px #00FFF2;
}

.portfolio-desc {
	font-family: 'Lobster', cursive;
	font-size: 20px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: white;
}

.main-portfolio i {
	position: relative;
	top: 45px;
	font-size: 30px;
	text-align: center;
	align-items: center;
	color: yellow;
	cursor: pointer;
}


.first-star {
	margin-left: 70px;
}

/*ПРО КОМПАНИЮ*/
.about-company {
	color: white;
	font-family: "Lobster";
	width: 100%;
	height: 1700px;
}

.main-title3 {
	text-align: center;
}

.main-hr3 {
	border:1px solid #383838;
	background-color: #383838;
	width: 100%;
}

.cmpany-image {
	position: relative;
	display: flex;
	width: 100%;
	height: 30%;
}

.com-img {
	position: relative;
	left: 3%;
	top: 9%;
	width: 20%;
	height: 65%;
	border-radius: 20px;
}

.com-img img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.compamy-text {
	top: 15%;
	position: relative;
	width: 70%;
	left: 7%;
	font-size: 18px;
}
.company-text2 {
	padding:0px 20px 0px 20px;
	position: relative;
	font-size: 18px;
	top: 3%;
}

/*ПАРАЛАКС*/

.paralax-text {
	position: relative;
	width: 100%;
	height: 40%;
}

.paralax {
	position: relative;
	top: 0%;
	width: 100%;
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1490650404312-a2175773bbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGF4aXxlbnwwfHwwfHw%3D&w=1000&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	filter: blur(15px);
}

.paralax:before {
	content: "";
	display: block;
	top: 0;
	left: 0;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}

.company-circle1 {
	position: absolute;
	/*color: white;*/
	width: 23%;
	height: 60%;
	top: 50%;
	left: 12%;
	transform: translate(-12%, -50%);
	background-color: #373737;
	border-radius: 20px;
	text-align: center;
}

.company-circle1 p{
	letter-spacing: 5px;
}

.company-circle1 h1 {
	text-shadow: 5px 10px 10px orange;
}

.company-circle2 {
	position: absolute;
	color: white;
	width: 23%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #373737;
	border-radius: 20px;
	text-align: center;
}

.company-circle2 p{
	letter-spacing: 5px;
}

.company-circle2 h1 {
	text-shadow: 5px 10px 10px orange;
}

.company-circle3 {
	position: absolute;
	color: white;
	width: 23%;
	height: 60%;
	top: 50%;
	left: 90%;
	transform: translate(-90%, -50%);
	background-color: #373737;
	border-radius: 20px;
	text-align: center;
}

.company-circle3 p{
	letter-spacing: 5px;
}

.company-circle3 h1 {
	text-shadow: 5px 10px 10px orange;
}

/*ПРАВИЛА*/

.main-title4 {
	text-align: center;
}

.main-hr4 {
	border:1px solid #383838;
	background-color: #383838;
	width: 100%;
}

.conditions {
	color: white;
	font-family: "Lobster";
	width: 100%;
	height: 900px;
}

.conditions p {
	font-size: 19px;
	padding: 10px;
}

.container-conditions {
	position: relative;
	width: 100%;
	height: 70%;
}

.text-conditions1 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

.text-conditions1 h2, p {
	text-align: center;
}

.conditions-text1 {
	width: 30%;
	height: 50%;
}

.conditions-text1 i {
	position: relative;
	font-size: 20px;
	left: 2%;
}

.conditions-text2 {
	position: relative;
	width: 30%;
	height: 50%;
	top: 10%;
}

.conditions-text2 i {
	position: relative;
	font-size: 20px;
	left: 2%;
}

.conditions-text3 {
	position: relative;
	width: 30%;
	height: 50%;
	top: 20%;
}

.conditions-text3 i {
	position: relative;
	font-size: 20px;
	left: 2%;
}

.conditions-text4 {
	position: relative;
	width: 30%;
	height: 50%;
	top: 30%;
}

.conditions-text4 i {
	position: relative;
	font-size: 20px;
	left: 2%;
}




@keyframes main-neonF {
	0% {
		box-shadow: -27px -27px 25px #00FFF2;
	}

	50% {
		box-shadow: -27px -27px 25px #0379FF;
	}

	100% {
		box-shadow: -27px -27px 25px #00FFF2;
	}
}

@keyframes main-neonS {
	0% {
		box-shadow: 25px 28px 25px #D78C00;
	}

	50% {
		box-shadow: 25px 28px 25px #FFA600;
	}

	100% {
		box-shadow: 25px 28px 25px #D78C00;
	}
}
